@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

* {
        font-family: 'Fragment Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    margin: 0;
    background-color: #232320;
    padding: 0 20px; /* Add 20px padding to the left and right of the body */
    box-sizing: border-box;
}

#messageInput, .buttonStyle {
    padding: 25px;
    /* height: 40px; */
    border-radius: 8px;
    font-size: 12pt;
}

#messageInput {
    flex-grow: 1;
    border: none;
    padding: 10px;
    margin-right: 10px; /* Add 10px margin to the right of the input box */
    margin-left: 10px; /* Add 10px margin to the left of the input box */
    background: #303030;
    color: white;
}

.buttonStyle {
    width: 100px;
    border: none;
    background-color: #534258;
    color: white;
    cursor: pointer;
}

.buttonStyle:hover {
    background-color: #b699e1;
}

.profilesButtonStyle {
    font-size: 10pt;
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
    width: 100px;
    border: none;
    color: white;
    cursor: pointer;
}

#saveProfile {
    background: #4bc05b;
}

#resetProfiles {
    background: #c04b4b;
}

#inputContainer {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 20px 0; /* Add 10px padding to the top and bottom of the container */
}

#menu {
    color: white;
    display: none;
    background-color: #303030;
    padding: 30px;
    border-radius: 8px;
    margin: 20px 0;
}

#menu>h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#menu>input {
    border: none;
    border-radius: 8px;
    padding: 15px;
}

#profilePicture {
    margin: 15px 0;
}

#info {
    color: rgb(198, 201, 185);
    position: absolute;
    top: 10px;
}

/* #menuButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
} */
